<!-- Menu -->


<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center fs-16">
        <li class="nav-item active">
          <img src="https://lh3.googleusercontent.com/4xcyzDLQrOE7HQPsxSxFM2OD7WQdyqc4D-CHbY99AFIB7i6ANIxiWdwTFRnzeDv0H2XEo8vYRHrTRExF7VchUh2_Pa3t-EyYOZ1kZaZMOE8VEVdfO_68CKxJiUbPDvU4cCBBUIgBQBhc3E_-6ub9tCxMziu5Gd1tSspMRpRw9qcbREer88NIE5aelTLV-0BPMn3BrcKfJhA-3jlVuYxEDrJ_95PKFG5z1-QyQsPVHmFWdN97LVG5Ze-KJVX0R6JPU6Mh4Y4OoD9gQiQRMM89rHPWZmgLGF01oJMnyoWYqdT0nQ5I80chkQJURhp1uNy52GBC8kZiGJ0dYTR2AXoYFEA_Bkv7gvThjPklUswTLr0HewfPHh6FWPtSb35OAfdonTMb7vf3-A8NngVcT_LAhCahDhPoJxD4Rn9WPlkfgN5xzOWHV3aE7WuLgx19wF6nAsr0C6MNLMwqDYQ6dPYRzBApA3X7VPqylfMAPEDpsYb077lsY6PSimZKG_RbLPHSfr_b4MKNT6jymEX3tODg1R0QankAtr2wgLj0STJd2mdAAUzU3f8FsomUDWB880pWBnbDKGe3DimlNGybYu8ifk-L3R6JRjOlqv7wqPKkx6j-DWjhxMFXPPEGVzVmzisYul5pxCwdryr-rMYwbHcMNQcY7oTgVyudxFQgE3S-XnxepHj8X2K8XUrk7AhO-A=w834-h625-no?authuser=1" alt="imagem do user" width="60px" height="60px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item">
          <p class="m-0 font-weight-bold text-white pl-3">Nome do usuário</p>
        </li>
        <li class="nav-item">
            <a href="">
                <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o pl-3" aria-hidden="true"></i></p>

            </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center fs-16">
        <li class="nav-item">
            <a class="m-0 font-weight-bold text-white pl-3">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- /menu -->